@model IsaacLewisTermProject.Models.Feat

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Feat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FeatId" />
            <div class="form-group">
                <label asp-for="FeatName" class="control-label"></label>
                <input asp-for="FeatName" class="form-control" />
                <span asp-validation-for="FeatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeatEffect" class="control-label"></label>
                <input asp-for="FeatEffect" class="form-control" />
                <span asp-validation-for="FeatEffect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
