@{
    ViewData["Title"] = "About D&D";
}

<h1>What is D&D?</h1>
<p>Dungeons and Dragons is a tabletop roleplaying game where you make characters to play
    in a fantasy setting that the story teller or dungeon master creates. This game is played 
    without any visual aid for the most part and is entirely played in your imagination 
    with only paper and pencil to write down information and stats about your character
</p>
<h2>D&D's History</h2>
<p>
    The game was originally designed by Gary Gygax and Dave Arneson and was first published
    in 1974 by Tactical Studies Rules, Inc. Wizards of the Coast become the publisher of
    the popular roleplaying game in 1997. There have been many variations of the game with
    the current edition being called 5th edition that is what this website will be based on.
</p>
