@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This website will provide some useful tools to help you with getting started 
        with Dungeons and Dragons as well as a tool to search up and add your own homebrew
        items to a database for yourself and others to use!
    </p>
</div>
