@{
    ViewData["Title"] = "Resources";
}
<h1>Helpful Resources and Links</h1>
<ul>
    <li>
        <a href="https://www.dndbeyond.com/">D&D Beyond</a>
    </li>
    <p>D&D Beyond is a website that was recently acquired by Wizards of the Coast
        that allows you to buy all of their books as well as get useful benefits such as
        information and guids, access to others homebrew content and tools to help you play
        in or run a game
    </p>
    <li>
        <a href="http://dnd5e.wikidot.com/">D&D 5e Community Wiki</a>
    </li>
    <p>This is a website that you can get all of the information about races and 
        classes from the 5th edition of the game to help you get started if you don't have
        all the books</p>
</ul>

<h1>Content Creators</h1>
<ul>
    <li>
        Critical Role
    </li>
    <p>
        Critical Role is the most popular Dungeons and Dragons centered show ran by 8 friends who 
        are all professional voice actors which lends to their skills as D&D players. This is a great
        show to watch for entertainment and to see how people that have been playing this game for
        years play the game but don't get your expectations too high because this is considered
        a professional game and few games will get to their level since this is their jobs.
    </p>
    <li>
        Dimension 20
    </li>
    <p>
        Dimension 20 is produced by College Humor. Dimension 20 doesn't do year long campaigns instead
        opting for a rotating cast and having different side quests with different stories for seasons
        this show has more of a comedy focus with less long term story telling and more short term with
        a varying cast a people and characters. This is a great show if you prefer the shorter seasons 
        style of watching and a more comedic game but still has a great cast and incredibly talented 
        game master.
    </p>
</ul>
