@model IsaacLewisTermProject.Models.Adventure

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Adventure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdventureId" />
            <div class="form-group">
                <label asp-for="AdventureName" class="control-label"></label>
                <input asp-for="AdventureName" class="form-control" />
                <span asp-validation-for="AdventureName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdventureDifficulty" class="control-label"></label>
                <input asp-for="AdventureDifficulty" class="form-control" />
                <span asp-validation-for="AdventureDifficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecommendedLevels" class="control-label"></label>
                <input asp-for="RecommendedLevels" class="form-control" />
                <span asp-validation-for="RecommendedLevels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdventureDescription" class="control-label"></label>
                <input asp-for="AdventureDescription" class="form-control" />
                <span asp-validation-for="AdventureDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
