<h1 class="text-center mt-5">Homebrew Pages</h1>

<div class="container text-center position-absolute top-50 start-25">
    <div class="d-grid gap-3 d-md-block justify-content-center">
        <a href="Homebrew/Item" class="btn btn-primary btn-lg">Items</a>
        <button class="btn btn-success btn-lg">Adventures</button>
        <button class="btn btn-danger btn-lg">Spells</button>
        <button class="btn btn-warning btn-lg">Feats</button>
    </div>
</div>