@model Item

<h1 class="display-4 d-flex justify-content-center mx-auto jumbotron">Add an Item</h1>
<div class="container d-flex justify-content-center">
    <form method="post">

        <div class="justify-content-center"><input asp-for="ItemName" placeholder="Item Name" class="py-1" style="width: 300px"/><br /></div>
        <input asp-for="ItemRarity" placeholder="Item Rarity" class="py-1" style="width: 300px" /><br />
        <input asp-for="ItemType" placeholder="Item Type" class="py-1" style="width: 300px" /><br />
        <textarea asp-for="ItemEffect" placeholder="Item Effect" class="py-1" style="width: 300px"></textarea><br />
        <label asp-for="Attunement" class="control-label">Attunement: </label>
        <input asp-for="Attunement" placeholder="Item Attunement" class="py-1"><br />

        <button type="submit" class="btn-primary">Submit</button>
    </form>
</div>